<a href="https://colab.research.google.com/github/habutaha/Cluster-champs_final-project_dsml2021/blob/Mujahed/TechCompanyFunding_Muj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tech Company Funding

* <b>Company</b>: The name of the Company
* <b>Website</b>: The web site of the company
* <b>Region</b>: The country of the company 
* <b>Vertical</b>: The Industry
* <b>Funding Amount (USD)</b>: The amount of the Funding
* <b>Funding Stage</b>: The stage of the Funding 
* <b>Funding Date</b>: The date of the Funding

### Import Data and Libraries

In [ ]:
import pandas as pd

In [ ]:
techFundingDf = pd.read_csv('./tech_fundings.csv')
techFundingDf.head()

,index,Company,Website,Region,Vertical,Funding Amount (USD),Funding Stage,Funding Date
0,1,Internxt,https://internxt.com/,Spain,Blockchain,278940,Seed,20-Jan
1,2,Dockflow,https://dockflow.com,Belgium,Logistics,292244,Seed,20-Jan
2,3,api.video,https://api.video,France,Developer APIs,300000,Seed,20-Jan
3,4,Buck.ai,https://buck.ai/,United States,Artificial Intelligence,300000,Seed,20-Jan
4,5,Prodsight,https://www.prodsight.ai,United Kingdom,Artificial Intelligence,529013,Seed,20-Jan

In [ ]:
techFundingDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3575 entries, 0 to 3574
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 3575 non-null   int64
 1   Company               3575 non-null   object
 2   Website               3575 non-null   object
 3   Region                3563 non-null   object
 4   Vertical              3575 non-null   object
 5   Funding Amount (USD)  3575 non-null   object
 6   Funding Stage         3575 non-null   object
 7   Funding Date          3575 non-null   object
dtypes: int64(1), object(7)
memory usage: 223.6+ KB

### Remove the missing 'Region' values

In [ ]:
# Get a copy of DataFrame without missing 'Region' values
condition = techFundingDf['Region'].notnull()
techFundingDf = techFundingDf[ condition ]
techFundingDf.head()

,index,Company,Website,Region,Vertical,Funding Amount (USD),Funding Stage,Funding Date
0,1,Internxt,https://internxt.com/,Spain,Blockchain,278940,Seed,20-Jan
1,2,Dockflow,https://dockflow.com,Belgium,Logistics,292244,Seed,20-Jan
2,3,api.video,https://api.video,France,Developer APIs,300000,Seed,20-Jan
3,4,Buck.ai,https://buck.ai/,United States,Artificial Intelligence,300000,Seed,20-Jan
4,5,Prodsight,https://www.prodsight.ai,United Kingdom,Artificial Intelligence,529013,Seed,20-Jan

In [ ]:
techFundingDf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3563 entries, 0 to 3574
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 3563 non-null   int64
 1   Company               3563 non-null   object
 2   Website               3563 non-null   object
 3   Region                3563 non-null   object
 4   Vertical              3563 non-null   object
 5   Funding Amount (USD)  3563 non-null   object
 6   Funding Stage         3563 non-null   object
 7   Funding Date          3563 non-null   object
dtypes: int64(1), object(7)
memory usage: 250.5+ KB

### Prepare the 'Funding Amount (USD)'

In [ ]:
# find the numbers of 'Unknown' in the Funding Amount
len(techFundingDf[ techFundingDf['Funding Amount (USD)'] == 'Unknown' ]['Funding Amount (USD)'])

9

In [ ]:
# Removing the 'Unknown' rows from the Funding amount
techFundingDf = techFundingDf.drop([1262,1263,1264,1284,1285,1293,1301,1310,1327], axis=0)
techFundingDf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3554 entries, 0 to 3574
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 3554 non-null   int64
 1   Company               3554 non-null   object
 2   Website               3554 non-null   object
 3   Region                3554 non-null   object
 4   Vertical              3554 non-null   object
 5   Funding Amount (USD)  3554 non-null   object
 6   Funding Stage         3554 non-null   object
 7   Funding Date          3554 non-null   object
dtypes: int64(1), object(7)
memory usage: 249.9+ KB

In [ ]:
len(techFundingDf[ techFundingDf['Funding Amount (USD)'] == 'Unknown' ]['Funding Amount (USD)'])

0

In [ ]:
# Change the 'Funding Amount (USD)' data type from object to float64
techFundingDf['Funding Amount (USD)'] = techFundingDf['Funding Amount (USD)'].astype(str).astype(float)
print(techFundingDf.dtypes)

index                     int64
Company                  object
Website                  object
Region                   object
Vertical                 object
Funding Amount (USD)    float64
Funding Stage            object
Funding Date             object
dtype: object

In [ ]:
techFundingDf.describe()

             index  Funding Amount (USD)
count  3554.000000          3.554000e+03
mean   1785.603545          5.774267e+07
std    1031.960588          2.986841e+08
min       1.000000          4.000000e+04
25%     890.250000          5.000000e+06
50%    1787.500000          1.550830e+07
75%    2678.750000          5.000000e+07
max    3575.000000          1.660000e+10

### Removing the Irrelevent Features

In [ ]:
irreleventFeatures = ['index','Website','Funding Stage','Funding Date']
techFundingDf = techFundingDf.drop(irreleventFeatures,axis=1,inplace=False)
techFundingDf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3554 entries, 0 to 3574
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Company               3554 non-null   object
 1   Region                3554 non-null   object
 2   Vertical              3554 non-null   object
 3   Funding Amount (USD)  3554 non-null   float64
dtypes: float64(1), object(3)
memory usage: 138.8+ KB

### Apply the one-hot Encoding for ['Region', 'Vertical']

In [ ]:
techFundingDf = techFundingPre1Hot = pd.get_dummies( techFundingDf, columns=['Region', 'Vertical'] )

In [ ]:
techFundingDf.describe()

,Funding Amount (USD),Region_Argentina,Region_Armenia,Region_Australia,Region_Austria,Region_Bangladesh,Region_Belgium,Region_Belize,Region_Brazil,Region_Cambodia,...,Vertical_Video,Vertical_Video Software,Vertical_Video Tech,Vertical_Virtual Reality,Vertical_Warehousing,Vertical_Wearables,Vertical_Web Browsers,Vertical_Web Development,Vertical_Wellbeing,Vertical_Wellness
count,3.554000e+03,3554.000000,3554.000000,3554.000000,3554.000000,3554.000000,3554.000000,3554.000000,3554.000000,3554.000000,...,3554.000000,3554.000000,3554.000000,3554.000000,3554.000000,3554.000000,3554.000000,3554.000000,3554.000000,3554.000000
mean,5.774267e+07,0.002251,0.000281,0.014913,0.003658,0.000563,0.005909,0.000281,0.006753,0.000281,...,0.000563,0.000281,0.000281,0.001688,0.000281,0.000281,0.000281,0.000281,0.000281,0.007878
std,2.986841e+08,0.047398,0.016774,0.121221,0.060378,0.023719,0.076652,0.016774,0.081910,0.016774,...,0.023719,0.016774,0.016774,0.041059,0.016774,0.016774,0.016774,0.016774,0.016774,0.088423
min,4.000000e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.000000e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.550830e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,5.000000e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.660000e+10,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
techFundingDf.head()

,Company,Funding Amount (USD),Region_Argentina,Region_Armenia,Region_Australia,Region_Austria,Region_Bangladesh,Region_Belgium,Region_Belize,Region_Brazil,...,Vertical_Video,Vertical_Video Software,Vertical_Video Tech,Vertical_Virtual Reality,Vertical_Warehousing,Vertical_Wearables,Vertical_Web Browsers,Vertical_Web Development,Vertical_Wellbeing,Vertical_Wellness
0,Internxt,278940.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Dockflow,292244.0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,api.video,300000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Buck.ai,300000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Prodsight,529013.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0